.App {
	text-align: center;
}	

.search-form {
	z-index: 1;
	position: relative;
	width: 100%;
	height: 0;
}

.search-form input {
	width: 90%;
	height: 50px;
	padding: 15px 20px;
	margin-top: 50px;
	max-width: 500px;
	border: none;
	box-sizing: border-box;
	size: 18px;
	color: #222222;
	box-shadow: 3px 3px 28px 0px rgba(0,0,0,0.4);
}

.search-form input:focus {
	outline: 0;
	font-size: 16px;
}

.circles-container {
	z-index: 1;
	position: relative;
	height: 0;
	margin-top: 80vh;
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
}

.transit-circle {
	z-index: 1;
	position: relative;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	padding: 20px;
	margin-left: 2vw;
	max-width: 500px;
	border: none;
	background-color: white;
	color: #222222;
	box-shadow: 3px 3px 28px 0px rgba(0,0,0,0.44);
}

.transit-circle img {
	width: 73%;
	margin-top: -8px;
	color: #333333;
	opacity: 0.75
}

.transit-circle-fastest{
	z-index: 1;
	position: relative;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	padding: 20px;
	margin-left: 2vw;
	max-width: 500px;
	border: none;
	background-color: white;
	color: #009900;
	box-shadow: 3px 3px 28px 0px rgba(0,0,0,0.44);
}

.transit-circle-fastest img {
	width: 73%;
	margin-top: -8px;
	opacity: 0.75;
	color: #009900
}

.driving-circle {
	z-index: 1;
	position: relative;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	padding: 20px;
	margin-right: 2vw;
	max-width: 500px;
	align-items: top;
	border: none;
	background-color: white;
	color: #222222;
	box-shadow: 3px 3px 28px 0px rgba(0,0,0,0.44);
}

.driving-circle img {
	width: 98%;
	margin-top: 16px;	
	opacity: 0.75;
}

.driving-circle-fastest {
	z-index: 1;
	position: relative;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	padding: 20px;
	margin-right: 2vw;
	max-width: 500px;
	border: none;
	background-color: white;
	color: #009900;
	box-shadow: 3px 3px 28px 0px rgba(0,0,0,0.44);
}

.driving-circle-fastest img {
	width: 98%;
	margin-top: 16px;	
	opacity: 0.75;
	color: green
}

.arrival-time{
	opacity: 0.85;
	text-transform: lowercase;
}